.infoColumn {
  h3 {
    margin: 0 0 6px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
  }

  span {
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-m);
  }
}
